# Ignore Data directory
Data/

# Ignore ProcessedDataSets directory inside PreProcessing
PreProcessing/ProcessedDataSets/

Utilities/

*.csv

*.geojson

*.mbtiles

.DS_Store

# Ignore VectorTilesPipeline build and deployment files
VectorTilesPipeline/build_tiles/
VectorTilesPipeline/tileserver/
VectorTilesPipeline/docker-compose.yml
